[Unit]
Description=nspawn system container managed by boxctl
PartOf=machines.target
Before=machines.target

[Service]
#ExecStartPre=/usr/bin/tar-overlay mount-all
EnvironmentFile=/opt/boxctl/config/%I.boxconf
# --link-journal=try-guest
ExecStart=/usr/bin/systemd-nspawn --quiet --keep-unit --boot  --machine %I -D /var/lib/machines/%I/ \
--capability=CAP_NET_RAW --capability=CAP_NET_BROADCAST --capability=CAP_NET_ADMIN $BOXOPTS

KillMode=mixed
Type=notify
RestartForceExitStatus=133
SuccessExitStatus=133
Slice=machine.slice
Delegate=yes

[Install]
WantedBy=machines.target
